
body,table,th,td,p,span,a,li,div {font-family: Arial, "sans-serif"; line-height: 1.5;}

body { background: #eee; margin: 0; font-family: Arial, "sans-serif";}

a { color: #008be2; }

.info {
    padding: 10px 30px;
    border-top: 0;
    td {
        font: 11px/16px Arial, sans-serif;
    }
}
.title-green{
    color:#8dc63f;
}
.heading-blue{
    color:#28aae1;
}
.submit{
    h3{
        margin:0 !important;
    }
  
}
h2 {
    color: #ec028c; font-size: 1.8rem; line-height: 1;
    .sub {
        font-size: 1.5rem;
    }
}
td.bg-dark {
    background: #1e1e9d;
    color: white;
}
.wrapper{
    max-width: 600px;
    margin:auto;
}


.fig{margin:0; margin-left:30px;}

.mt-2 {margin-top: 20px;}

.pl-3 { padding-left: 30px; }

.header { line-height: 0;}

.text-center { text-align: center; }

.fr {float: right;}

.img-desc { color: #999; }

table { 
    border:none !important;
    line-height: 1.5;
    background: white;
    &.keydates {
        padding: 0;
        th {
            background: #f7941e;
            color: white;
            text-align: left;
        }
        .shade {
            background: #eee;
        }
    }
}

.keydates {
    border: 1px solid #ccc;
    th, td {padding: 1em; border: 1px solid #ccc}
}

.no-bdr {
    border: 0;
}

.main-wrapper { 
    background: white;
    padding: 0;
    margin: 0 auto;
    border: 0;
}

.footer-header {
    background: #8dc63f;
    border-bottom: 5px solid #049344;
    padding: 0;
    h2 {
        text-align: center;
        margin: 0;
        color: white;
    }
    td {padding: 1em;}
}
.footer {
    padding: 0;
    margin: 0 auto;
    border: 0;
    h3 { margin-bottom: 0; font-size: 1.3rem;}
    a { color: black; }
    .contact {
        line-height: 1.5;
        margin-bottom: 30px;
    }
    table {padding: 0 20px;}
    td {padding: 0;}
}
.py-2 {padding-top: 20px; padding-bottom: 20px;}
.py-3 {padding-top: 30px; padding-bottom: 30px;}
.first { margin-top: 10; margin-bottom:0; padding-top: 0;}
.last { margin-bottom: 0; padding-bottom: 0;}
.mt-1 { margin-top: 1rem;}
.mb-1 { margin-bottom: 1rem;}
.mr { margin-right: 0.2rem;}
.ml { margin-left: 0.2rem;}

.btn {
    background: #662c91;
    color: white;
    box-sizing: border-box;
    text-align: center;
    border-radius: 50px;
    padding: 0;
    a {
        color: white;
    }
    td {
        padding: 0;
        font: bold 26px/26px Arial, "sans-serif";
        font-weight: bold;
        letter-spacing: -1px;
        padding: 0.5em;
    }
    
}

.last{
    h3{
        margin-bottom:0;
    }
}
.btn-sm {
    background: #28aae1;
    color: white;
    box-sizing: border-box;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    a {
        color: white;
        font-size: 16px;
        text-decoration: none;
    }
    td {
        padding: 0;
        font: bold 26px/26px Arial, "sans-serif";
        font-weight: bold;
        letter-spacing: -1px;
        padding:5px;
    }
    
}

.alt-btn {
    background: #662c91;
    color: white;
    padding: 1em;
    width: 100%;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 600px) {
    html, body, table, .fw {width: 100%; max-width: 100%;}
}
