<div class="cards py-5">
  <div class="container">
    <div class="row">
      <a href="./visit-victoria.html" class="col-12 col-md-4 mt-4">
        <div class="card yellow">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="./assets/img/card1.jpg" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Visit Victoria</h5>
            <p class="mb-0">Discover the diversity and beauty of beautiful Victoria.</p>
          </div>
        </div>
      </a>
      <a href="./conference-venue.html" class="col-12 col-md-4 mt-4">
        <div class="card purple">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="./assets/img/card2.jpg" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Conference Venue</h5>
            <p class="mb-0">The venue is an easy walking distance from a range of accommodation options</p>
          </div>
        </div>
      </a>
      <a href="./contact-us.html" class="col-12 col-md-4 mt-4">
        <div class="card green">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="./assets/img/card3.jpg" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Contacts</h5>
            <p class="mb-0">For further information regarding IUCr 2023 please contact the secretariat.</p>
          </div>
        </div>
      </a>
      <!-- <a href="" class="col-12 col-md-4 mt-5">
        <div class="card yellow">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Committee</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card purple">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>About IUCr 2023</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card green">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Contacts</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a> -->
    </div>
  </div>
</div>
