<div class="cards py-5">
  <div class="container">
    <div class="row">
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card yellow">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Key Dates</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card purple">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Expression of Interest</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card green">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Venue</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card yellow">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Committee</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card purple">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>About IUCr 2023</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card green">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Contacts</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
