<div class="cards py-5">
  <div class="container">
    <div class="row">
      <a href="./visit-victoria.html" class="col-12 col-md-4 mt-4">
        <div class="card yellow">
          <!-- <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div> -->
          <img src="./assets/img/card1.jpg" class="img-fluid" width="100%">
          <div class="card-body">
            <h4>Visit Victoria</h4>
            <p class="mb-0">Discover the diversity and beauty of beautiful Victoria. IUCr 2023 are planning for an in-person event; and ideal opportunity to explore Australia’s wide open spaces.</p>
          </div>
        </div>
      </a>
        <div class="card mt-4 col-12 col-md-4 mt-4">
          <a class="twitter-timeline" data-height="538" href="https://twitter.com/IUCr2023?ref_src=twsrc%5Etfw">Tweets by IUCr2023</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </div>
      <a href="./contact-us.html" class="col-12 col-md-4 mt-4">
        <div class="card green">
          <!-- <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div> -->
          <img src="./assets/img/card3.jpg" class="img-fluid" width="100%">
          <div class="card-body">
            <h4>Contacts</h4>
            <p class="mb-0">See you in Prague – the IUCr 2023 team will be hosting a virtual booth in Prague and we welcome the opportunity to meet with you – for a little taste of Australia. <br>&nbsp; </p>
          </div>
        </div>
      </a>
      <!-- <a href="" class="col-12 col-md-4 mt-5">
        <div class="card yellow">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Committee</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card purple">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>About IUCr 2023</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a>
      <a href="" class="col-12 col-md-4 mt-5">
        <div class="card green">
          <div class="card-icon position-absolute p-3">
            <i class="fas fa-gem"></i>
          </div>
          <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
          <div class="card-body">
            <h5>Contacts</h5>
            <p class="mb-0">Lorem ipsum dolor sit amet.</p>
          </div>
        </div>
      </a> -->
    </div>
  </div>
</div>
