<div class="eoi">
  <div class="container mt-5 py-5">
    <div class="row align-items-center">
      <div class="col-12 col-md-6">
        <h1>Keep Up To Date</h1>
        <p>If you would like to <b>receive updates and information on the progress of IUCr 2023</b> which will be held in Melbourne, please fill in details and select your interest for the conference.</p>
      </div>
      <div class="col-12 col-md-6">
        <a href="https://icmsaust.eventsair.com/iucr-2023/expression-of-interest" class="button text-center"><i class="fas fa-envelope mr-4"></i>Join the mailing list</a>
      </div>
    </div>
  </div>
</div>
