<div class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>About IUCr 2023</h2>
        <p>The IUCr is a scientific union adhering to the International Science Council (ISC). Its objectives are to promote international cooperation in crystallography and to contribute to all aspects of crystallography, to promote international publication of crystallographic research, to facilitate standardisation of methods, units, nomenclatures and symbols, and to form a focus for the relations of crystallography to other sciences. The IUCr Congress and General Assembly is held every three years around the world.</p>
        <p>In 2023 the IUCr Congress and General Assembly is being held in Melbourne, Australia and hosted by the Society of Crystallographers in Australia and New Zealand.  SCANZ is an organisation whose members are scientists whose interest are in the general area of crystallography. The society has about 250 members worldwide, mostly in Australia and New Zealand. SCANZ has a formal connection with the Australian Academy of Science, via the National Committee for Crystallography (NCCr), and the National Committee for Materials Science and Engineering (NCMSE).</p>

      </div>
      <div class="offset-md-1 col-md-7">
        <h2>IUCr Secretariat</h2>
        <div class="row">
          <div class="col-md-6">
            <h3>Event Director</h3>
            <p><b>Emma Bowyer</b> <br>
              <a href="mailto:director@iucr2023.org">director@iucr2023.org</a></p>
            <h3>General Enquiries</h3>
            <p><b>Siobhan Jensen</b> <br>
              <a href="mailto:enquiries@iucr2023.org">enquiries@iucr2023.org</a></p>
            <h3>Program Manager</h3>
            <p><b>Emma McPartlan</b> <br>
              <a href="mailto:program@iucr2023.org">program@iucr2023.org</a></p>
            <h3>Marketing</h3>
            <p><b>Suellen Holland</b> <br>
              <a href="mailto:marketing@iucr2023.org">marketing@iucr2023.org</a></p>
          </div>
          <div class="col-md-6">
            <h3>Sponsorship & Exhibition</h3>
            <p><b>Emma Mogus</b> <br>
              <a href="mailto:sponsorship@iucr2023.org">sponsorship@iucr2023.org</a></p>
            <h3>Accommodation</h3>
            <p><b>Adriane Pinto</b> <br>
              <a href="mailto:accommodation@iucr2023.org">accommodation@iucr2023.org</a></p>
            <h3>Registration</h3>
            <p><b>Jessica Moebus</b> <br>
              <a href="mailto:registration@iucr2023.org">registration@iucr2023.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
