<div class="footer py-5">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h2>About IUCr 2023</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quaerat dignissimos cum officia sit, suscipit nam amet ab! Modi nostrum ratione nisi voluptatibus, quas corrupti vero illo dolorem quia nemo.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem saepe autem facilis mollitia enim, eius cupiditate aut, itaque quasi nisi esse, accusamus unde eaque magni maiores qui velit beatae deleniti.</p>
      </div>
      <div class="offset-md-1 col-md-7">
        <h2>IUCr Secretariat</h2>
        <div class="row">
          <div class="col-md-6">
            <h3>Event Director</h3>
            <p><b>Emma Bowyer</b> <br>
              <a href="mailto:director@iucr2023.org">director@iucr2023.org</a></p>
            <h3>General Enquiries</h3>
            <p><b>Siobhan Jensen</b> <br>
              <a href="mailto:enquiries@iucr2023.org">enquiries@iucr2023.org</a></p>
            <h3>Program Manager</h3>
            <p><b>Emma McPartlan</b> <br>
              <a href="mailto:program@iucr2023.org">program@iucr2023.org</a></p>
            <h3>Marketing</h3>
            <p><b>Suellen Holland</b> <br>
              <a href="mailto:marketing@iucr2023.org">marketing@iucr2023.org</a></p>
          </div>
          <div class="col-md-6">
            <h3>Sponsorship & Exhibition</h3>
            <p><b>Emma Mogus</b> <br>
              <a href="mailto:sponsorship@iucr2023.org">sponsorship@iucr2023.org</a></p>
            <h3>Accommodation</h3>
            <p><b>Adriane Pinto</b> <br>
              <a href="mailto:accommodation@iucr2023.org">accommodation@iucr2023.org</a></p>
            <h3>Registration</h3>
            <p><b>Jessica Moebus</b> <br>
              <a href="mailto:registration@iucr2023.org">registration@iucr2023.org</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
