<div class="social">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="my-2 text-right">
          <b><a href="https://icmsaust.eventsair.com/iucr-2023/expression-of-interest" target="_blank" class="mx-3">Join the mailing list</a>
          <a href="./contact-us.html" class="mx-3">Contact us</a></b>
          <a href="https://www.linkedin.com/in/michael-parker-7334669/" target="_blank" class="linkedin mx-3 p-1"><i class="fab fa-linkedin"></i></a>
      </div>
    </div>
  </div>
</div>
