<div class="social">
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="my-2 text-right">
          <b><a href="https://icmsaust.eventsair.com/iucr-2023/expression-of-interest" target="_blank" class="mx-3 d-inline-block">Join the mailing list</a>
            <a href="./visa-information.html" target="_blank" class="mx-3 d-inline-block">Visa Information</a>
            <a href="https://covid19.homeaffairs.gov.au/" target="_blank" class="mx-3 d-inline-block">COVID-19 and the Australian Border</a>
            <a href="./contact-us.html" class="mx-3 d-inline-block">Contact us</a></b> <br class="d-md-none">
            <a href="https://www.linkedin.com/in/michael-parker-7334669/" target="_blank" class="linkedin mx-3 d-inline-block p-1"><i class="fab fa-linkedin"></i></a>
            <a href="https://twitter.com/IUCr2023" target="_blank" class="linkedin mx-3 d-inline-block p-1"><i class="fab fa-twitter"></i></a>
      </div>
    </div>
  </div>
</div>
