<div class="row things-to-do my-4 px-4 px-md-0">
    <div class="col-md-4 px-0 d-flex  justify-content-center">
        <img src="./assets/img/queen-vic-market.jpg" class="img-fluid d-block" width="100%">
        <h4 class="text-center py-3 mb-0"><b><span>Q</span>UEEN <span>V</span>ICTORIA <span>M</span>ARKET</b></h4>
        <div class="over d-flex align-items-center" tabindex="0">
            <p class="px-4 ">The ‘Vic Market’ has been the heart and soul of Melbourne for more than a century. It’s a vibrant and bustling inner-city market where you can shop at over 600 small businesses for everything from Australian fruit and vegetables, local and imported gourmet foods, clothing and souvenirs.</p>
        </div>
    </div>
    <div class="col-md-4 px-0 d-flex  justify-content-center">
      <img src="./assets/img/hosier-lane.jpg" class="img-fluid d-block" width="100%">
      <h4 class="text-center py-3 mb-0"><b><span>H</span>OSIER <span>L</span>ANE</b></h4>
      <div class="over d-flex align-items-center" tabindex="2">
        <p class="px-4 ">Walk down the famous bluestone laneway and admire the street art that has made the Melbourne urban art scene known across the globe. Take in the dizzying array of colours, characters and shapes created by local and international artists alike.</p>
      </div>
    </div>
    <div class="col-md-4 px-0 d-flex  justify-content-center">
      <img src="./assets/img/eureka.jpg" class="img-fluid d-block" width="100%">
      <h4 class="text-center py-3 mb-0"><b><span>E</span>UREKA <span>S</span>KYDECK 88</b></h4>
      <div class="over d-flex align-items-center" tabindex="5">
        <p class="px-4">Nothing you have ever experienced will prepare you for the awe-inspiring views from the highest viewing platform in the Southern Hemisphere at Melbourne's Eureka Skydeck 88.</p>
      </div>
    </div>
    <div class="col-md-4 px-0 d-flex  justify-content-center">
      <img src="./assets/img/gaol.jpg" class="img-fluid d-block" width="100%">
      <h4 class="text-center py-3 mb-0"><b><span>O</span>LD <span>M</span>ELBOURNE <span>G</span>AOL</b></h4>
      <div class="over d-flex align-items-center" tabindex="3">
        <p class="px-4 ">Shrouded in secrets, wander the same cells and halls as some of history’s most notorious criminals, from Ned Kelly to Squizzy Taylor, and discover the stories that never left.</p>
      </div>
    </div>
    <div class="col-md-4 px-0 d-flex  justify-content-center">
        <img src="./assets/img/national-sports-museum.jpg" class="img-fluid d-block" width="100%">
        <h4 class="text-center py-3 mb-0"><b><span>N</span>ATIONAL <span>S</span>PORTS <span>M</span>USEUM, MCG</b></h4>
        <div class="over d-flex align-items-center" tabindex="1">
            <p class="px-4 ">The MCG recognises and celebrates its heritage and sporting history with a commitment seen at very few stadiums anywhere in the world by housing the National Sports Museum. Across a multitude of sports, the museum features memorabilia from some of the country's biggest heroes and highlights moments that have shaped the traditions of Australian sport.</p>
        </div>
    </div>
    <div class="col-md-4 px-0 d-flex  justify-content-center">
        <img src="./assets/img/ngv-international.jpg" class="img-fluid d-block" width="100%">
        <h4 class="text-center py-3 mb-0"><b><span>N</span>GV <span>I</span>NTERNATIONAL</b></h4>
        <div class="over d-flex align-items-center" tabindex="4">
            <p class="px-4 ">NGV International houses a whole world of international art, displaying the National Gallery of Victoria's collections of European, Asian, Oceanic and American art.</p>
        </div>
    </div>
</div>
