@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
$backgroundColor: #ffffff;
$bodyColor: #000000;
$montserrat: 'Montserrat', sans-serif;
$roboto: 'Roboto', sans-serif;
$lblue: #27AAE1;
$dblue: #1C75BC;
$dyellow: #F7941D;
$lyellow: #FBB040;
$lgreen: #8DC63F;
$dgreen: #009444;
$green: #39B54A;
$dpurple: #662D91;
$lpurple: #92278F;
$dpink: #DA1C5C;
$lpink: #EE2A7B;
$magenta: #EC008C;
$black: #202020;

body, html {
  font-family: $roboto;
}

.social {
  background: $black;
  a {
    color: white;
    transition: all 0.2s ease-in-out;
    &:hover {
      &.facebook { color: #3B5998; }
      &.linkedin { color: #0E76A8; background-color: white; }
      &.twitter { color: #00ACEE; }
    }
  }
}

.header {
  font-family: $montserrat;
  span {
    color: $dblue;
  }
  .title {
    font-size: 1.4em;
    line-height: 1.2em;
  }
  .navigation {
    background: #f2f2f2;
    border-radius: 50px;
    .navbar {
      padding: 0px;
    }
    .nav-link {
      padding: 1.5rem 1rem;

    }
    .active {
      background: $black;
      &.nav-link { color: white; }
    }
    .dropdown-menu {
      border: none;
      background: #f2f2f2;
      padding: 0;
      overflow: hidden;
      a {
        padding: 15px 20px;
        transition: all 0.2s ease-in-out;
        &:hover {
          background: darken(#f2f2f2, 10%);
        }
      }
    }
  }
}

.banner {
  background: url("../img/banner.png");
  height: 450px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000;
  a, img {
    transition: transform 0.3s ease-in-out;
    &:hover {
      transform: scale(1.02);
    }
  }
  .row {
    height: 100%;
  }
  .date {
    font-size: 1.8em;
    span {
      font-size: 1.2em;
    }
  }
  .name {
    font-size: 4.0em; font-weight: 900;
    line-height: 1.4em;
    span {
      font-size: 1.2em; font-weight: 800;
    }
  }
  .location {
    font-size: 2em; font-weight: bold;
    span {
      font-size: 1.2em;
    }
  }
  //Mobile
  @media (max-width: 768px) {
    height: 500px;
    .date { font-size: 1.1em; }
    .name { font-size: 2.1em; }
    .location { font-size: 1.3em; }
  }
}

.page-banner {
  background: url("../img/banner.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 4px #000;
  }
}

.countdown {
  background: $dblue;
  color: white;
  h1 {
    font-weight: 900; font-size: 2.5em;
    text-shadow: 2px 2px 4px #000;
    span {
      font-size: 1.1em;
    }
  }
  h2 {
    font-weight: 900; font-size: 2em;
    text-shadow: 1px 1px 2px #000;
    span {
      font-size: 1.1em;
      text-shadow: 2px 2px 4px #000;
    }
  }
}

.content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  h1 {
    font-size: 4em;
  }
  .button {
    width: 75%;
    background-color: $lyellow;
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $dyellow;
    }
  }
}

.page-content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.2rem;
  }
  h6 {
    font-size: 1.1rem;
  }
  a {
    text-decoration: underline;
    color: $dyellow;
    &:hover {
      color: lighten($dyellow, 10%);
    }
  }
  .alert-success {
    background-color: lighten($green, 40%);
    border-radius: 0;
    border: none;
  }
  .alert-secondary {
    background-color: #f2f2f2;
    border-radius: 0;
    border: none;
  }
  .button {
    width: 100%;
    background-color: $lyellow;
    font-size: 2em;
    font-weight: bold;
    color: white;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background-color: $dyellow;
    }
  }
  .key-dates {
    tr {
      border-bottom: 1px solid $dpink;
    }
  }
  .things-to-do {
      h4 {
          position: absolute;
          color: white;
          background: rgba(0, 148, 68, 0.9);
          width: 100%;
          bottom: 0px;
          left: 0px;
          font-size: 1em;
          border-style: none;
          span {
            font-size: 1.2em;
          }
      }
      .over {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          height: 100%;
          width: 100%;
          opacity: 0;
          transition: .5s ease;
          background-color: rgba(0, 148, 68, 0.95);
          p {
              font-size: 1em;
              font-weight: bold;
              color: white;
              margin: 0;
          }
          &:hover {
              opacity: 1;
          }
          &:focus {
              opacity: 1;
          }
      }
  }
}

.eoi {
  background: url("../img/triangles-download.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-shadow: 2px 2px 4px #000;
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  h1 {
    font-size: 3em;
    text-shadow: 2px 2px 4px #000;
  }
  p {
    font-size: 1.3em;
    text-shadow: 2px 2px 4px #000;
  }
  .button {
    width: 75%;
    background-color: $black;
    font-size: 1.5em;
    font-weight: bold;
    color: white;
    padding: 1rem;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    transition: all 0.2s ease-in-out;
    &:hover {
      background-color: lighten($black, 10%);
    }
  }
}

.cards {
  background: #f2f2f2;
  h4 {
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  a { text-decoration: none; }
  .card {
    img {
      height: 300px;
      object-fit: cover;
    }
    &.yellow {
      .card-icon { color: white; background: $dyellow; font-size: 1.1em; transform: translate(-50%, -50%); left: 50%; border-top-left-radius: calc(50%); border-bottom-right-radius: calc(50%); transition: all 0.2s ease-in-out; }
      .card-body { color: white; background: $lyellow; transition: all 0.2s ease-in-out; padding: 2rem 1.5rem; }
      &:hover {
        .card-icon { background: darken($dyellow, 5%); }
        .card-body { background: darken($lyellow, 5%); }
      }
    }
    &.purple {
      .card-icon { color: white; background: $dpurple; font-size: 1.1em; transform: translate(-50%, -50%); left: 50%; border-top-left-radius: calc(50%); border-bottom-right-radius: calc(50%); transition: all 0.2s ease-in-out; }
      .card-body { color: white; background: $lpurple; transition: all 0.2s ease-in-out; padding: 2rem 1.5rem; }
      &:hover {
        .card-icon { background: darken($dpurple, 5%); }
        .card-body { background: darken($lpurple, 5%); }
      }
    }
    &.green {
      .card-icon { color: white; background: $dgreen; font-size: 1.1em; transform: translate(-50%, -50%); left: 50%; border-top-left-radius: calc(50%); border-bottom-right-radius: calc(50%); transition: all 0.2s ease-in-out; }
      .card-body { color: white; background: $lgreen; transition: all 0.2s ease-in-out; padding: 2rem 1.5rem; }
      &:hover {
        .card-icon { background: darken($dgreen, 5%); }
        .card-body { background: darken($lgreen, 5%); }
      }
    }
  }
}

.footer {
  background: url("../img/triangles-grey.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }
  h2 {
    font-size: 2.5em;
    margin-bottom: 1.5rem;
  }
  h3 {
    font-size: 1.5em;
  }
  a {
    color: black;
    text-decoration: underline;
  }
}
