<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>News | Template</title>
  <link rel="stylesheet" href="style.css?v=1.2">
</head>
<style>
    body{font-family:Arial, Helvetica, sans-serif;}
</style>

<!--Subject Block-->
<table width="600" class = "title-block" align="center" border="0" cellspacing="0" cellpadding="5">
    <tr>
        <td>
            <strong>*|MC:SUBJECT|*</strong>
        </td>
        <td align = "right">
            <a href="*|ARCHIVE|*">View this email in your browser</a>
        </td>
    </tr>
</table>


<!--Title Block-->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src = "img/IUCR2023-header.png">
        </td>
    </tr>
</table>

<!--Content Block-->
<table width="600" align="center" border="0" cellspacing="0" cellpadding="0">
    <tr>
        <td>
            <img src = "img/TitleHeading.png">
            <table class = "content-block border-bottom" align="center" border="0" cellspacing="0" cellpadding="20">
                <tr>
                    <td>
                        <p>Registration for the Congress includes:</p>
                        <ul>
                            <li>Admission to all Congress sessions 22 – 29 August 2023</li>
                            <li>Admission to the IUCr 2023 Exhibition</li>
                            <li>Delegate materials</li>
                            <li>Ticket to the Welcome Reception held on Tuesday 22 August 2023</li>
                            <li>Ticket to the Congress Gala Dinner held on Monday 28 August 2023</li>
                            <li>Catering including morning tea, lunch and afternoon tea daily as of Wednesday 23 August 2023</li>
                        </ul>
                        <p>Don’t miss your chance to register today and save over $300 on the full registration standard rate!</p> 
                    </td>
                  </tr>
            </table>
        </td>
    </tr>
</table>

<!--Content Block-->
<table class = "content-block" align="center" border="0" cellspacing="0" cellpadding="20">
    <tr>
        <td>
            <h2>Section Heading</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia quibusdam veniam enim, accusamus cumque pariatur impedit laudantium assumenda debitis esse voluptatibus similique error? Distinctio, maiores culpa ut ducimus amet nihil.</p>
          
        </td>
      </tr>
     
</table>

<!--Content Block Grey Background-->
<table class = "content-block grey-bg" align="center" border="0" cellspacing="0" cellpadding="20">
    <tr>
        <td>
            <h2>Section Heading (Grey)</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia quibusdam veniam enim, accusamus cumque pariatur impedit laudantium assumenda debitis esse voluptatibus similique error? Distinctio, maiores culpa ut ducimus amet nihil.</p>
          
        </td>
      </tr>
     
</table>


<!--Content With Image Block-->
<table class = "content-block-image border-bottom" align="center" border="0" cellspacing="0" cellpadding="20">
    <tr>
        <td>
            <h2>Section Heading (With image and button)</h2>
            <img src = "img/titlePlaceholder.png" width = "560">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia quibusdam veniam enim, accusamus cumque pariatur impedit laudantium assumenda debitis esse voluptatibus similique error? Distinctio, maiores culpa ut ducimus amet nihil.</p>
            <!--Button-->
            <table class = "btn-table" align="center" border="0" cellspacing="0" cellpadding="20">
                <tr class = "btn">
                    <td>
                        <a href="#">Visit Our Website</a>
                    </td>
                </tr>
            </table> 

        </td>
    </tr> 
</table>

<!--Content Block-->
<table class = "content-block border-bottom" align="center" border="0" cellspacing="0" cellpadding="20">
    <tr>
        <td>
            <h2>Section Heading(Registration)</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quia quibusdam veniam enim, accusamus cumque pariatur impedit laudantium assumenda debitis esse voluptatibus similique error? Distinctio, maiores culpa ut ducimus amet nihil.</p>
            
            <table class = "registration-table" align="center" border="0" cellspacing="0" cellpadding="10">
                <tr>
                    <th></th>
                    <th align="left">
                        <b>Standard</b><br>1 April – 22 June 2023
                    </th>
                    <th align="left">
                        <b>Late</b><br>From 23 June 2023
                    </th>
                </tr>
                <tr>
                    <td colspan = "3" class = "grey-bg">Fee types</td>
                </tr>
                <tr>
                    <td>Full Registration</td>
                    <td>$1,330</td>
                    <td>$1,660</td>
                </tr>
                <tr class = "grey-bg">
                    <td>Student Registration</td>
                    <td>$770</td>
                    <td>$880</td>
                </tr>
            </table>
        </td>
      </tr>
     
</table>


<!--Sponsorship Block-->
<table class = "content-block" align="center" border="0" cellspacing="0" cellpadding="20">
    <tr>
        <td align="center">
            <h2>Sponsorship Section</h2>
            <h3>Sponsor Subheading</h3>
            <table class = "sponsor-block" align="center">
                <tr>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "160"></a>
                    </td>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "160"></a>
                    </td>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "160"></a>
                    </td>
                </tr>
            </table>
            <h3>Sponsor Subheading</h3>
            <table class = "sponsor-block" align="center">
                <tr>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "170"></a>
                    </td>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "170"></a>
                    </td>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "170"></a>
                    </td>
                </tr>
            </table>
            <h3>Sponsor Subheading</h3>
            <table class = "sponsor-block" align="center">
                <tr>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "170"></a>
                    </td>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "170"></a>
                    </td>
                    <td>
                        <a href = "#" target = "_blank"><img src = "img/logoPlaceholder.jpg" width = "170"></a>
                    </td>
                </tr>
            </table>
        </td>
      </tr>
      
</table>

<!--Footer Block-->
<table class = "footer-block" align="center" border="0" cellspacing="0" cellpadding="20">
    <tr>
        <td>
            <h2>Contact Us</h2>
            <table width="450" align="center" border="0" cellspacing="0" cellpadding="20">
                <tr>
                    
                    <td>
                        <h4><span class = "footer-name">Emma Bowyer</span><br>
                        <i>Event Director</i><br>
                        <a href = "mailto:director@iucr2023.org">director@iucr2023.org</a></h4>
                        <h4><span class = "footer-name">Fallon Beatty</span><br>
                        <i>Sponsorship & Exhibition</i><br>
                        <a href = "mailto:sponsorship@iucr2023.org">sponsorship@iucr2023.org</a></h4>
                        <h4><span class = "footer-name">Suellen Holland</span><br>
                        <i>Marketing</i><br>
                        <a href = "mailto:marketing@iucr2023.org">marketing@iucr2023.org</a></h4>
                    </td>
                    <td>
                        <h4><span class = "footer-name">Rickie Xian</span><br>
                        <i>Program Enquiries</i><br>
                        <a href = "mailto:program@iucr2023.org">program@iucr2023.org</a></h4>
                        <h4><span class = "footer-name">Emily Glen</span><br>
                        <i>Registration Enquiries</i><br>
                        <a href = "mailto:registration@iucr2023.org">registration@iucr2023.org</a></h4>
                        <h4><span class = "footer-name">Emily Low</span><br>
                        <i>Accommodation Enquiries</i><br>
                        <a href = "mailto:accommodation@iucr2023.org">accommodation@iucr2023.org</a></h4>
                        
                    </td>
                    
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td align="center">
            <div>
                <h3>Proudly managed by <br>Conference Secretariat </h3>
                
                <a href="https://icmsaust.com.au/" target="_blank">
                    <img src="./img/icmsa.png" width="220" style="margin-bottom:10px">
                </a>
            </div>
            <div>
                <br>
                <b>ICMS Australasia</b>
                <br> PO Box 5005 South Melbourne 3205 <br> Tel: +61 3 9682 0500
            </div>
        </td>
    </tr>
</table>
<table class = "footer-block" align="center" border="0" cellspacing="0" cellpadding="10">
    <tr>
        <td>
            <p>This email was sent to <a href="*|EMAIL|*">*|EMAIL|*</a>. </p>
        </td>
        <td>
            <p align = "right">
                <a href="*|UNSUB|*">Unsubscribe</a>.
            </p>
        </td>
    </tr>
</table>

