<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="assets/css/main.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
        <title>{{ page.title }} | 26th Congress and General Assembly of the International Union of Crystallography</title>
    </head>
    <body>

      <div class="social">
        <div class="container">
          <div class="row">
            <div class="col">
              <p class="my-2 text-right">
                <b><a href="" class="mx-3">Join the mailing list</a>
                <a href="" class="mx-3">Contact us</a></b>
                <a href="" class="facebook mx-3 p-1"><i class="fab fa-facebook-f"></i></a>
                <a href="" class="linkedin mx-3 p-1"><i class="fab fa-linkedin"></i></a>
                <a href="" class="twitter mx-3 p-1"><i class="fab fa-twitter"></i></a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="header">
        <div class="container">
          <div class="row my-5 align-items-center">
            <div class="col-3">
              <img src="./assets/img/logo.png" class="img-fluid">
            </div>
            <div class="col-12 col-md">
              <p class="title">26TH CONGRESS AND GENERAL ASSEMBLY <br> OF THE INTERNATIONAL UNION OF <br><b><span>CRYSTALLOGRAPHY</span></b> IUCr</p>
              <p class="date"><b>22-29 August 2023 | Melbourne Convention & Exhibition Centre</b></p>
              <div class="navigation">
                <nav class="navbar navbar-expand-lg navbar-light">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" href="index.php"><i class="fas fa-home"></i></a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    About <i class="fas fa-angle-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="welcome.php">Welcome Message</a>
                                    <a class="dropdown-item" href="hosts.php">Hosts</a>
                                    <a class="dropdown-item" href="committee.php">Committee</a>
                                    <a class="dropdown-item" href="ambassadors.php">Ambassadors</a>
                                    <a class="dropdown-item" href="latest-news.php">Latest News</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Program <i class="fas fa-angle-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="explore-melbourne.php">Explore Melbourne</a>
                                    <a class="dropdown-item" href="destination-discovery.php">Destination Discovery</a>
                                    <a class="dropdown-item" href="travel-and-transport-tips.php">Travel and Transport Tips</a>
                                    <a class="dropdown-item" href="conference-venue.php">Conference Venue</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Registration <i class="fas fa-angle-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="visa-information.php">Visa Information</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Sponsorship <i class="fas fa-angle-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="sponsorship-information.php">Sponsorship Information</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                  Destination <i class="fas fa-angle-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="general-information.php">General Information</a>
                                    <a class="dropdown-item" href="privacy-policy.php">Privacy Policy</a>
                                    <a class="dropdown-item" href="contact-us.php">Contact Us</a>
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Information <i class="fas fa-angle-down ml-1"></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="general-information.php">General Information</a>
                                    <a class="dropdown-item" href="privacy-policy.php">Privacy Policy</a>
                                    <a class="dropdown-item" href="contact-us.php">Contact Us</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="banner">
        <div class="container-fluid">
          <div class="row">
            <div class="col p-0">
            </div>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="container my-5">
          <div class="row justify-content-center">
            <div class="col-10 text-center">
              <h1>{{ page.title }}</h1>
              {{ content }}
            </div>
          </div>
        </div>
      </div>
      <div class="eoi">
        <div class="container mt-5 py-5">
          <div class="row align-items-center">
            <div class="col-6">
              <h1>Keep Up To Date</h1>
              <p>If you would like to <b>receive updates and information on the progress of IUCr 2023</b> which will be held in Melbourne, please fill in details and select your interest for the conference.</p>
            </div>
            <div class="col-6">
              <a href="#" class="button text-center"><i class="fas fa-envelope mr-4"></i>Join the mailing list</a>
            </div>
          </div>
        </div>
      </div>
      <div class="cards py-5">
        <div class="container">
          <div class="row">
            <a href="" class="col-md-4 mt-5">
              <div class="card yellow">
                <div class="card-icon position-absolute p-3">
                  <i class="fas fa-gem"></i>
                </div>
                <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
                <div class="card-body">
                  <h5>Key Dates</h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </a>
            <a href="" class="col-md-4 mt-5">
              <div class="card purple">
                <div class="card-icon position-absolute p-3">
                  <i class="fas fa-gem"></i>
                </div>
                <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
                <div class="card-body">
                  <h5>Expression of Interest</h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </a>
            <a href="" class="col-md-4 mt-5">
              <div class="card green">
                <div class="card-icon position-absolute p-3">
                  <i class="fas fa-gem"></i>
                </div>
                <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
                <div class="card-body">
                  <h5>Venue</h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </a>
            <a href="" class="col-md-4 mt-5">
              <div class="card yellow">
                <div class="card-icon position-absolute p-3">
                  <i class="fas fa-gem"></i>
                </div>
                <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
                <div class="card-body">
                  <h5>Committee</h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </a>
            <a href="" class="col-md-4 mt-5">
              <div class="card purple">
                <div class="card-icon position-absolute p-3">
                  <i class="fas fa-gem"></i>
                </div>
                <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
                <div class="card-body">
                  <h5>About IUCr 2023</h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </a>
            <a href="" class="col-md-4 mt-5">
              <div class="card green">
                <div class="card-icon position-absolute p-3">
                  <i class="fas fa-gem"></i>
                </div>
                <img src="https://via.placeholder.com/250x150r" class="img-fluid" width="100%">
                <div class="card-body">
                  <h5>Contacts</h5>
                  <p class="mb-0">Lorem ipsum dolor sit amet.</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="footer py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <h2>About IUCr 2023</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur quaerat dignissimos cum officia sit, suscipit nam amet ab! Modi nostrum ratione nisi voluptatibus, quas corrupti vero illo dolorem quia nemo.</p>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem saepe autem facilis mollitia enim, eius cupiditate aut, itaque quasi nisi esse, accusamus unde eaque magni maiores qui velit beatae deleniti.</p>
            </div>
            <div class="offset-md-1 col-md-7">
              <h2>IUCr Secretariat</h2>
              <div class="row">
                <div class="col-md-6">
                  <h3>Event Director</h3>
                  <p><b>Emma Bowyer</b> <br>
                    <a href="mailto:director@iucr2023.org">director@iucr2023.org</a></p>
                  <h3>General Enquiries</h3>
                  <p><b>Siobhan Jensen</b> <br>
                    <a href="mailto:enquiries@iucr2023.org">enquiries@iucr2023.org</a></p>
                  <h3>Program Manager</h3>
                  <p><b>Emma McPartlan</b> <br>
                    <a href="mailto:program@iucr2023.org">program@iucr2023.org</a></p>
                </div>
                <div class="col-md-6">
                  <h3>Sponsorship & Exhibition</h3>
                  <p><b>Emma Mogus</b> <br>
                    <a href="mailto:sponsorship@iucr2023.org">sponsorship@iucr2023.org</a></p>
                  <h3>Accommodation</h3>
                  <p><b>Adriane Pinto</b> <br>
                    <a href="mailto:accommodation@iucr2023.org">accommodation@iucr2023.org</a></p>
                  <h3>Registration</h3>
                  <p><b>Jes Moebus</b> <br>
                    <a href="mailto:registration@iucr2023.org">registration@iucr2023.org</a></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </body>
</html>
